/*** Reset ***/
html,body,div,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dt,dd,p,blockquote,pre,form,fieldset,table,th,td
	{
	margin: 0px;
	padding: 0px;
}
/*** The Guts ***/
body {
	background: #ffffff url(../img/control-panels/body_background.png);
	color: #000000;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 20px;
}
/*** Basic Elements ***/
a {
	color: #ce1b1b;
	outline: none;
	padding: 1px 0px;
	text-decoration: none;
}

a:hover {
	background: #ce1b1b;
	color: #ffffff;
}

a:active {
	padding: 2px 0px 0px 0px;
}

img {
	
}

p {
	margin: 0px 0px 8px 0px;
}

h1,h2,h3,h4,h5,h6 {
	
}

ul {
	margin: 0px 0px 0px 15px;
}

ol {
	margin: 0px 0px 0px 20px;
}

ol li {
	margin: 0px 0px 5px 0px;
}

ol li ol {
	
}

ol li ol li {
	margin: 0px 0px 0px 10px;
}

li {
	
}

input[type="text"],input[type="password"],textarea {
	background: #ffffff url(../img/control-panels/input_text_background.png)
		repeat-x;
	border: 1px solid #d7d7d7;
	color: #555555;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	padding: 3px;
}

input[type="submit"],input[type="button"] {
	background: #ae1414
		url(../img/control-panels/input_submit_background.png) repeat-x;
	border: 1px solid #ae1414;
	border-top: none;
	color: #ffffff;
	font-size: 11px;
	padding: 2px 3px;
	text-transform: uppercase;
	text-shadow: 0px -1px 0px #9e1616;
}
/*** Common Classes ***/
.fill {
	display: block;
	height: 100%;
	width: 100%;
}

.justify {
	text-align: justify;
}

.hide {
	display: none;
}

.paddy {
	margin: auto;
	width: 960px;
}

.right {
	float: right;
}

.left {
	float: left;
}

.center {
	margin: auto;
	text-align: center;
}

.borderless,.borderless:hover {
	border: none;
}

.clear {
	clear: both;
}

.tiny {
	font-size: 60%;
}

.alert {
	background: #e66161 url(../img/control-panels/alert_background.png) top
		left no-repeat;
	border: 1px solid #bb4848;
	padding: 10px 10px 10px 55px;
	margin: 0px 0px 20px 0px;
}

.alert p {
	display: block;
	border-left: 1px solid #bb4848;
	padding: 0px 0px 0px 10px;
	margin: 0px;
	line-height: 14px;
	min-height: 32px;
}
/*** Login Area ***/
.login-page {
	
}

.login-page #content {
	background: #ffffff url(../img/control-panels/heading_dj_background.png)
		top center no-repeat;
	width: 480px;
	padding: 10px;
	margin: 200px auto;
	float: none !important;
	-moz-box-shadow: 0px 0px 10px #bbbbbb;
	-webkit-box-shadow: 0px 0px 10px #bbbbbb;
}

.login-page.admin #content {
	background: #ffffff
		url(../img/control-panels/heading_admin_background.png) top center
		no-repeat;
}

.login-page #margin {
	margin: 100px auto 0px auto;
}

.login-page #login,.form {
	
}

.login-page #login table,.login-page tr,.form table,.form td {
	width: 100%;
}

.login-page #login td,.form td {
	width: 50%;
}

.login-page #login td:hover label,.form td:hover label {
	color: #444444;
}

.login-page #login label,.form label {
	display: block;
	font-size: 12px;
	color: #888888;
	text-transform: uppercase;
}

.login-page #login input[type="text"],.login-page #login input[type="password"],.form input[type="text"],.form input[type="password"]
	{
	width: 95%;
}

.login-page #login input[type="submit"],.form input[type="submit"] {
	margin: 10px 12px 0px 0px;
}
/** Main Panel **/
#user {
	background: #ffffff;
	border-bottom: 1px solid #e0e0e0;
	text-align: right;
	padding: 5px;
}

#user a {
	
}

#user a:hover {
	background: none;
	color: #851717;
}

#container {
	background: #ffffff;
	border: 1px solid #e0e0e0;
	border-top: none;
	width: 960px;
	margin: -1px auto 0px auto;
	z-index: 1;
	position: relative;
}

#header {
	margin: 0px 0px 20px 0px;
}

#logo {
	background: url(../img/control-panels/logo_dj_background.png) no-repeat;
	width: 180px;
	height: 40px;
}

#logo.admin {
	background: url(../img/control-panels/logo_admin_background.png)
		no-repeat;
	width: 180px;
	height: 40px;
}

#logo a {
	border: none;
	background: none;
}

#links {
	float: right;
	width: 780px;
}

#links a {
	color: #ce1b1b;
	border: none;
}

#links a:hover,#links li:hover>a.dir {
	background: #000000;
	color: #ffffff;
	border: none;
}

#links li:hover ul {
	background: #000000;
	border: 1px solid #000000;
	border-bottom: none;
}

#links li:hover ul li {
	border-bottom: 1px solid #000000;
}

#links li:hover ul li a {
	color: #ffffff;
}

#links li:hover ul li a:hover {
	color: #ce1b1b;
}

#links a li a,#links a li {
	color: #ffffff;
}

#links a li a:hover {
	background: #ce1b1b;
	color: #ffffff;
	opacity: 1;
}

#sidebar {
	width: 180px;
	float: left;
	overflow: hidden;
	padding: 0px 10px;
}

#sidebar h2 {
	border-bottom: 1px solid #eeeeee;
	margin: 0px;
	font-size: 17px;
	display: block;
	text-transform: uppercase;
}

#sidebar ul {
	margin: 0px 0px 20px 0px;
}

#sidebar ul li {
	list-style: none;
	margin: 0px;
	border-bottom: 1px solid #eeeeee;
}

#sidebar ul li a {
	color: #ce1b1b;
	border: none;
	display: block;
	padding: 2px 4px;
}

#sidebar ul li a:hover {
	background: #ce1b1b;
	color: #ffffff;
}

#content {
	border-left: 1px solid #eeeeee;
	width: 730px;
	padding: 0px 10px 0px 14px;
	float: right;
}

#content h1 {
	margin: 0px 0px 10px 0px;
	border-bottom: 1px solid #eeeeee;
	padding: 5px 0px;
}

#content p {
	line-height: 22px;
	font-size: 13px;
}

#content a {
	padding: 2px;
}

#content a:hover {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

#content #chars {
	font-size: 13px;
	float: right;
	text-transform: uppercase;
	margin: 8px 17px 0px 0px;
	display: block;
}