/*** Import Other CSS ***/
@import 'uniform.default.css';

/*** Page Reset ***/
html,body,div,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dt,dd,p,blockquote,pre,form,fieldset,table,th,td
	{
	margin: 0px;
	padding: 0px;
}
/*** Main ***/
body {
	background: #21211b;
	color: #ffffff;
	font-family: Arial, sans-serif;
	font-size: 13px;
}
/*** Basic Elements ***/
a {
	color: #f2e8e0;
	border-bottom: 1px dashed #bfb5ad;
	text-decoration: none;
	padding: 2px 0px;
}

a:hover {
	border-bottom: 1px solid #bfb5ad;
}

a:active {
	top: 1px;
	position: relative;
}

p {
	color: #cdc5bf;
	font-family: "Times New Roman", Times, serif;
	line-height: 26px;
	font-size: 14px;
	margin: 0px 0px 15px 0px;
	text-indent: 20px;
}

blockquote {
	background: #26261f;
	padding: 10px 10px 5px 10px;
	font-style: italic;
	border: 1px dotted #161611;
	border-left: 3px solid #161611;
}

blockquote p {
	margin: 0px 0px 5px 0px;
}

input {
	
}

input[type="submit"],input[type="button"] {
	background: #24241c url(../img/submit_background.png) top repeat-x;
	text-shadow: 0px -1px 0px #1e1e18;
	color: #f0f0f0;
	border: 1px solid #181814;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-align: center;
	padding: 4px;
	-moz-box-shadow: 0px 0px 1px #403c33;
	opacity: 0.8;
	filter: alpha(opacity = 80);
}

input[type="submit"]:hover,input[type="button"]:hover {
	cursor: pointer;
	opacity: 1;
	filter: alpha(opacity = 100);
}

/*** Common Classes ***/
.fill {
	display: block;
	height: 100%;
	width: 100%;
}

.display {
	display: block !important;
}

.hide {
	display: none;
}

.clear {
	clear: both;
}

.right {
	float: right;
}

.left {
	float: left;
}

.center {
	margin: auto;
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.padding {
	margin: auto;
	width: 940px;
}
/*** Special Classes ***/
/** Headings **/
.heading {
	font-family: "Times New Roman", Times, serif;
	text-transform: uppercase;
	text-shadow: 1px 1px 0px #000000;
	padding: 4px 0px;
}

h1.heading {
	padding: 0px 0px 6px 0px;
	margin: 6px 0px 0px 0px;
}
/** Divider **/
.divider {
	background: url(../img/divider_background.png) center no-repeat;
	margin: auto;
	width: 100px;
	padding: 10px 0px;
}
/** Errors **/
.page-error {
	margin: 100px 0px;
}

.page-error p {
	line-height: normal;
	margin: 0px 0px 5px 0px;
}

.error-large {
	font-size: 80px;
	display: block;
	font-family: "Times New Roman", Times, serif;
	letter-spacing: -1px;
	text-shadow: 0px 1px 1px #000000;
}
/** News Posts **/
.separator {
	background: #3a3a2f url(../img/seperator_background.png) bottom repeat-x;
	height: 10px;
	width: 100%;
}

.item-news {
	
}

.item-news .post-title {
	background: rgba(33, 33, 27, 0.8);
	position: absolute;
	text-align: right;
	padding: 10px;
	margin: 80px 0px 0px 0px;
	border-right: 2px solid #606050;
}

.item-news .post-title .post-meta {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 12px;
	line-height: normal;
	margin: 0px;
	color: #eeeeee;
}

.item-news .post-title .post-meta strong {
	
}

.item-news .post-category {
	background: rgba(33, 33, 27, 0.8);
	float: right;
	padding: 5px;
	margin: 0px 0px -30px 0px;
	top: 124px;
	z-index: 1;
	position: relative;
	font-family: Arial, sans-serif;
	font-size: 13px;
	line-height: normal;
	text-indent: 0px;
	text-transform: lowercase;
}

.item-news .post-category a {
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	border: none;
}

.item-news .post-category a:hover {
	color: #eeeeee;
}

.item-news .post-category a:active,.item-news .post-category a:focus {
	color: #cccccc;
}

.item-news .post-image {
	margin: 0px 0px 12px 0px;
	height: 150px;
	background: #2b2b23;
	display: block;
}

.item-news .post-content {
	
}

.item-news .post-bottom {
	background: url(../img/post_bottom_background.png) bottom repeat-x;
	padding: 20px;
	margin: 0px 0px 25px 0px;
}

.item-news .post-bottom ul {
	list-style: none;
	background: url(../img/bottom_post_ul_background.png) center repeat-x;
	margin: 0px 0px 0px 4px;
}

.item-news .post-bottom ul li {
	display: inline-block;
	padding: 0px 20px 0px 0px;
	margin: 0px 0px 0px -4px;
	background: url(../img/post_bottom_background.png) 0px -8px repeat-x;
}

.item-news .post-bottom ul li a {
	background: url(../img/buttons_sprite.png) 0px 0px;
	height: 23px;
	width: 131px;
	font-family: "Times New Roman", Times, serif;
	color: #e1e1cc;
	text-align: 0px -1px 0px #1a1a15;
	font-size: 18px;
	text-transform: lowercase;
	text-align: center;
	padding: 10px 0px;
	display: inline-block;
	border: none;
}

.item-news .post-bottom ul li a:hover {
	background: url(../img/buttons_sprite.png) 0px -44px;
	color: #f2f2e3;
}

.item-news .post-bottom ul li a:active,.item-news .post-bottom ul li a:focus
	{
	
}
/** Banners **/
.banner {
	margin: -22px 0 20px -20px;
}
/** Sidebar Items **/
.item-sidebar {
	margin: 0px 0px 20px 0px;
	background: url(../img/sidebar_item_background.png) bottom repeat-x;
	padding: 0px 2px 15px 2px;
}
/** Content List **/
.content-list {
	border-top: 1px solid #0f0f0c;
	border-bottom: 1px solid #2e2e26;
}

.content-list li {
	list-style: none;
	min-height: 120px;
}

.content-list li img {
	float: left;
	padding: 3px;
	background: #121210;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0px 0px 3px #3a3a2f;
	-webkit-box-shadow: 0px 0px 3px #3a3a2f;
	margin: 0px 10px 0px 0px;
	border: none;
}

.content-list li h2 {
	font-family: "Times New Roman", Times, serif;
	text-transform: uppercase;
	border-bottom: 1px dashed #121210;
	margin: 0px 0px 0px 175px;
	display: block;
}

.content-list li p {
	text-indent: 0px;
}

.content-list li a.go,.content-list li.go {
	width: 700px;
	display: block;
	z-index: -1;
	border: none;
	padding: 15px 0px;
	border-bottom: 1px solid #0f0f0c;
	border-top: 1px solid #2e2e26;
	min-height: 120px;
	cursor: pointer;
}

.content-list li a.go:hover,.content-list li.go:hover {
	background: #25251e;
}

.content-list li a.go:active,.content-list li a.go:focus,.content-list li.go:active,.content-list li.go:focus
	{
	background: #282821;
}

.content-list .hide {
	margin: 90px 0 0 0;
	clear: left;
}
/** Toggles **/
.toggle {
	text-transform: uppercase;
	border: none;
	font-size: 13px;
	top: 5px !important;
	position: relative;
}
/** Jump To Content **/
.jump-to {
	margin: 0px 0px 10px 0px;
}

.jump-to ul {
	background: #161611;
	/* margin: -67px 0px 0px 4px; */
}

.jump-to ul li {
	display: inline-block;
	list-style: none;
	position: relative;
	bottom: -3px;
}

.jump-to ul li a {
	border: none;
	padding: 0px;
	border-right: 1px solid #404b3a;
	border-left: 1px solid #191914;
	top: 0px !important;
	position: inherit;
	display: block;
	opacity: 0.8;
	filter: alpha(opacity = 80);
}

.jump-to ul li a:hover,.jump-to ul li a.active {
	opacity: 1;
	filter: alpha(opacity = 100);
}

.jump-to ul li.first a {
	border-left: 1px solid #161611;
}

.jump-to ul li.last a {
	border-right: none;
}

.jump-to ul li a img {
	border: none;
}

.jump-to ul li a h2 {
	position: absolute;
	background: url(../img/trans_brown.png);
	padding: 10px;
	margin: 80px 0px 0px 0px;
	width: 153px;
	font-size: 30px;
	font-family: "Times New Roman", Times, serif;
	text-shadow: 0px 1px 0px #0f0f0c;
	white-space: pre-wrap;
	word-spacing: 10px;
}

.jump-to ul li a span {
	float: right;
	font-size: 50px;
	margin: -35px 0px 0px 0px;
}
/*.jump-to .shading {
		background: url(../img/shading_background.png);
		height: 67px;
		position: relative;
		z-index: 1;
		width: 100%;
	}*/
.jump-list {
	background: #3a3a2f url(../img/jump_list_background.png) top repeat-x;
	padding: 10px 0px 10px 10px;
	border: 1px solid #161611;
	border-top: none;
	width: 689px;
	overflow: auto;
	-moz-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px;
	display: none;
	border-top: 4px solid #161611;
}

.jump-list h4 {
	font-family: "Times New Roman", Times, serif;
	text-transform: uppercase;
	font-size: 18px;
	text-shadow: 1px 1px 0px #161611;
	margin: 0px 0px 5px 0px;
	display: block;
}

.jump-list ul {
	margin: 0px;
	float: left;
	margin: 0px 10px 0px 0px;
	width: 162px;
	background: transparent;
}

.jump-list ul li {
	display: list-item;
	position: relative;
}

.jump-list ul li a {
	border: none;
	margin: 0px;
	padding: 5px;
	opacity: 1;
	filter: alpha(opacity = 100);
	border-bottom: 1px solid #26261e;
	border-top: 1px solid #444437;
}

.jump-list ul li a:hover {
	background: #303027;
}

.jump-list ul li a:active,.jump-list ul li a:focus {
	background: #282820;
}

.jump-list ul li:nth-child(2n+1) a {
	background: #38382d;
}

.jump-list ul li.last a {
	border-bottom: none;
	border-right: none;
}

.jump-list ul li.first a {
	border-top: none;
	border-left: none;
}

.jump-list.active-panel {
	display: block;
}
/*** Divisions ***/
/** Top Bar **/
#bar {
	height: 20px;
	padding: 4px 0px;
	background: #21211b url(../img/bar_background.png) bottom repeat-x;
	border-bottom: 1px solid #0f0f0c;
}

#bar ul {
	list-style: none;
	float: right;
}

#bar ul li {
	display: inline;
	margin: 0px 0px 0px 5px;
}

#bar ul li a {
	text-shadow: 0px -1px 0px #0d0d0b;
	color: #e4e4c2;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
	display: inline-block;
	padding: 2px;
	border: none;
}

#bar ul li a:hover {
	color: #f7f7da;
}

#bar ul li a:active,#bar ul li a:focus {
	color: #ffffed;
}
/** Header **/
#header {
	border-top: 1px solid #2e2e26;
	background: #121210 url(../img/header_background.png) center no-repeat;
	height: 40px;
	padding: 15px 0px;
}

#header.barbarian {
	background-image: url(../img/header_background_barbarian.png);
}

#header.dungeon {
	background-image: url(../img/header_background_dungeon.png);
}

#header.forest {
	background-image: url(../img/header_background_forest.png);
}

#header.pits {
	background-image: url(../img/header_background_pits.png);
}
/* User Area */
#user {
	text-align: right;
	margin: -8px 0px 0px 0px;
	width: 200px;
	text-shadow: 0px 0px 3px #121210;
}

#user img {
	border: 3px solid #21211b;
	background: #39392f;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0px 0px 0px 8px;
}

#user h5 {
	font-family: "Times New Roman", Times, serif;
	font-size: 15px;
	text-transform: uppercase;
}

#user ul {
	list-style: none;
	margin: 4px 0px 0px 0px;
}

#user ul li {
	color: #cfcfaa;
	font-size: 12px;
	font-weight: bold;
}
/* Logo */
#logo {
	width: 243px;
	height: 37px;
	background: url(../img/logo_background.png);
	opacity: 0.8;
	filter: alpha(opacity = 80);
}

#logo:hover {
	opacity: 1;
	filter: alpha(opacity = 100);
}

#header #logo a {
	outline: none;
	border: none;
}
/** Navigation **/
#navigation {
	background: url(../img/navigation_background.png) top repeat-x;
	border-bottom: 1px solid #0f0f0c;
}

#navigation ul {
	list-style: none;
}

#navigation ul li {
	display: inline;
	margin: 0px -4px 0px 0px;
}

#navigation ul li a {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	padding: 8px 10px;
	display: inline-block;
	color: #cdc6c5;
	text-shadow: 0px -1px 0px #171713;
	border: none;
}

#navigation ul li a:hover {
	background: url(../img/navigation_sprite.png) 0px -37px repeat-x;
	color: #ffffff;
}

#navigation ul li a:active,#navigation ul li a:focus {
	
}

#navigation ul li.active {
	
}

#navigation ul li.active a {
	background: url(../img/navigation_sprite.png) 0px 0px repeat-x;
	color: #ffffff;
}

#navigation ul li.active a:hover {
	
}

#navigation ul li.active a:active,#navigation ul li.active a:focus {
	
}
/* Donate Button */
#donate {
	margin: 5px 0px 0px 0px;
}

#donate a {
	background: url(../img/credits_background.png) 0px 0px;
	width: 107px;
	height: 16px;
	padding: 5px 0px;
	text-align: center;
	text-shadow: 0px -1px 0px #0c580a;
	border: none;
	display: block;
	font-weight: bold;
	float: left;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	-moz-box-shadow: 0px 0px 3px #121210;
	-webkit-box-shadow: 0px 0px 3px #121210;
}

#donate a:hover {
	opacity: 1;
	filter: alpha(opacity = 100);
}

#donate a:active,#donate a:focus {
	background: url(../img/credits_background.png) 0px -26px;
}

#donate p {
	display: inline;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	position: relative;
	z-index: 1;
	top: -1px;
	margin: -2px 0px 0px 5px;
	color: #ffffff;
	font-weight: bold;
	text-shadow: 0px 1px 0px #3e0e0e;
}

#donate #progress {
	background: #922020 url(../img/donate_background_red.png);
	width: 200px;
	height: 24px;
	border: 1px solid #a83838;
	-moz-border-radius: 3px 0px 0px 3px;
	border-radius: 3px 0px 0px 3px;
}

#donate #progress .green {
	width: 80px;
	background: #309220 url(../img/donate_progress_background.png) right
		repeat-y;
	border: 1px solid #62a838;
	height: 24px;
	display: block;
	position: absolute;
	margin: -27px 0px 0px -1px;
	-moz-border-radius: 3px 0px 0px 3px;
	border-radius: 3px 0px 0px 3px;
}
/** Containers **/
#container {
	border-top: 1px solid #2e2e26;
	border-bottom: 1px solid #1a1a14;
	background: url(../img/container_background.png) bottom repeat-x;
	padding: 20px 0px;
}
/** Sidebar **/
#sidebar {
	float: right;
	width: 210px;
	margin: 8px 0px 0px 0px;
	padding: 0px 0px 0px 14px;
	border-left: 1px dashed #191915;
	color: #6b6864;
	font-family: "Times New Roman", Times, serif;
	text-shadow: 1px 1px 0px #1b1b15;
}

#sidebar a {
	color: #dfd2c9;
	border: none;
}

#sidebar a:hover {
	color: #ffffff;
}

#sidebar a:active,#sidebar a:focus {
	
}

#sidebar p {
	text-indent: 0px;
}

#sidebar h3 {
	color: #dfd2c9;
	border-bottom: 1px solid #1b1b15;
	text-align: right;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: normal;
	padding: 0px 0px 6px 0px;
	text-shadow: 0px 1px 0px #0f0f0c;
	margin: 0px 0px 10px 0px;
}

#sidebar h3 span {
	background: #161611 url(../img/sidebar_heading_background.png);
	border-top: 2px solid #2e2e26;
	padding: 7px;
}

#sidebar ul,#sidebar ol {
	margin: 0px 0px 0px 20px;
	line-height: 22px;
}
/* Tips */
#tips {
	margin: 0px 4px;
	padding: 0px 5px 5px 5px;
	background: url(../img/tips_background.png) top right no-repeat;
}

#tips p {
	font-size: 13px;
	font-weight: bold;
	padding: 0px 35px 4px 0px;
	margin: 0px 0px 8px 0px;
	border-bottom: 1px dotted #161611;
}

#tips a {
	color: #ffffff;
}

#tips input {
	font-size: 11px;
}

#tips #submit-right {
	margin: 0px 0px 0px 25px;
}
/* Stats */
#stats {
	margin: -7px 5px 0px 0px;
	text-shadow: 1px 1px 0px #151512;
}

#stats h5 {
	font-size: 30px;
	margin: -7px 0px 0px 6px;
	float: right;
	color: #dfdfcd;
}

#stats p {
	font-size: 11px;
	line-height: normal;
	top: 5px;
	position: relative;
	text-align: right;
	font-family: Arial, sans-serif;
}
/* Social */
#social {
	margin: 0px 0px 0px 4px;
	text-align: right;
}

#social a,#social img {
	border: none;
	opacity: 0.8;
	filter: alpha(opacity = 80);
}

#social img:hover {
	opacity: 1;
	filter: alpha(opacity = 100);
}

#social img {
	margin: 0px 7px 0px 4px;
}
/* Poll */
#poll {
	
}

#poll #submit {
	width: 180px;
	margin: 8px 0px 0px 13px;
}

#poll label {
	position: relative;
	top: 1px;
}
/** Content ***/
#content {
	padding: 0px 240px 0px 0px;
}
/** Guides **/
/* Instant Search */
#instant-search {
	padding: 10px;
	border-bottom: 1px solid #121210;
	background: #3a3a2f;
}

#instant-search input {
	padding: 10px 8px;
	font-size: 18px;
	color: #121210;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-family: Arial, Helvetica, sans-serif;
}

#instant-search #instantTerm {
	border: 1px solid #121210;
	background: #525244;
	width: 520px;
}

#instant-search #instantSubmit {
	border: 1px solid #121210;
	color: #ffffff;
	margin: 0px 0px 0px 4px;
	text-shadow: 0px -1px 0px #121210;
}
/** Account **/
#account {
	
}

#account h1 {
	font-family: "Times New Roman", Times, serif;
	text-transform: uppercase;
	border-bottom: 1px solid #1b1b15;
	width: 100%;
	margin: 2px 0px 10px 0px;
}

#account h1 .karma {
	margin: 0px 0px 0px 5px;
	position: relative;
	top: -4px;
}

#account .character-face {
	float: left;
	position: relative;
	top: 2px;
	margin: 0px 5px 0px 0px;
}

#account h3 {
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 5px 0px;
	border-bottom: 1px solid #1b1b15;
}

#account label {
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

#account input,#account select {
	margin: 0px 0px 15px 0px;
}

.tabs {
	float: right;
	margin: 0px 0px 0px 4px;
}

.tabs li {
	display: inline;
	list-style: none;
	margin: 0px 0px 0px -4px;
}

.tabs li a {
	display: inline-block;
	padding: 3px 5px;
	background: #2f3126 url(../img/pixel-brown-1.png) top repeat-x;
	text-shadow: 0px 1px 0px #1b1b15;
	margin: 9px 0px 0px 5px;
	border: 1px solid #1b1b15;
	border-bottom: none;
	-moz-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
}

.tabs li a:hover {
	background: #282a20 url(../img/pixel-brown-1.png) top repeat-x;
}

.tabs li a:active,.tabs li a:focus,.tabs li.active a {
	background: #1b1b15;
}

.info-box {
	background: #181813 url(../img/pattern_diag_1.png) top repeat-x;
	border: 1px solid #181813;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 10px;
	text-shadow: 0px 0px 3px #12120e;
	margin: 0px 0px 10px 0px;
}

.info-box p {
	text-indent: 0px;
	margin: 0px;
}

.info-box .close {
	float: right;
	text-transform: uppercase;
	cursor: pointer;
}

.karma {
	padding: 2px 4px;
	font-weight: bold;
	color: #ffffff;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: help;
}

.background {
	border-top: 1px solid #13130f;
	border-left: 1px solid #13130f;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.background tr {
	background: #2b2b24;
	text-shadow: 0px 1px 0px #24241e;
}

.background tr:nth-child(2n+1) {
	background: #32322b;
}

.background tr td {
	border-bottom: 1px solid #13130f;
	border-right: 1px solid #13130f;
	padding: 3px;
}

.background thead {
	
}

.background thead tr {
	background: #13130f !important;
	text-shadow: 0px 1px 0px #000000 !important;
}

.karma.positive {
	background: #4a851f;
	text-shadow: 0px 1px 0px #315c11;
}

.karma.neutral {
	
}

.karma.negative {
	
}
/** Donate Page **/
#donation-progress {
	
}

#donation-progress #achieved {
	
}

#donation-progress #achieved h2 {
	
}

#donation-progress #achieved h2 span {
	font-size: 12px;
}
/** Guide Page **/
#guide-heading {
	
}

#guide-heading #guide-banner {
	border-bottom: 4px solid #161611;
}

#guide-facts {
	border-bottom: 1px solid #161611;
	padding: 10px 0px;
}

#guide-facts h4 {
	font-family: "Times New Roman", Times, serif;
	margin: 0px 0px 5px 0px;
	text-transform: uppercase;
}

#guide-facts ul {
	margin: 0px 10px 0px 13px;
	width: 160px;
}

#guide-facts ul li {
	font-size: 11px;
	color: #CDC5BF;
}

#guide-facts ul li a {
	
}

#guide-facts ul li a:hover {
	
}

#guide-facts ul li a:active,#guide-facts ul li a:focus {
	
}

#information {
	border-top: 1px solid #2E2E26;
}

#information #guide-description {
	font-style: italic;
	background: #161611;
	padding: 8px;
	display: block;
	border-bottom: 2px solid #3a3a2f;
	-moz-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 6px 6px;
}

#guide {
	
}

#guide h1,#guide h2,#guide h3,#guide h4,#guide h5,#guide h6 {
	margin: 8px 0px 10px 0px;
	padding: 0px 0px 5px 0px;
}

#guide h1 {
	border-bottom: 1px solid #161611;
}

#guide img {
	background: #161611;
	padding: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 10px;
}

#guide img.right {
	margin: 10px 0px 10px 10px;
}

#guide img.left {
	margin: 10px 10px 10px 0px;
}

#guide p {
	line-height: 22px;
	margin: 0px 0px 10px 0px;
}

#guide ul,#guide ol {
	margin: 0px 0px 10px 0px;
}

#guide li {
	color: #CDC5BF;
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	line-height: 22px;
	list-style-position: inside;
}

#credits {
	background: #3a3a2f;
	padding: 5px 10px;
	border: 1px solid #161611;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin: 20px 0px;
}

#credits p {
	text-indent: 0px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

#credits p a {
	border: none !important;
}

#credits p a:hover {
	text-decoration: underline;
}

#credits .guide-author {
	padding: 0px 0px 0px 16px;
	display: inline-block;
	background: url(../img/icon_user.png) left center no-repeat;
}
/** Comments Area **/
#comments-heading {
	border-bottom: 1px solid #161611;
}

#comments-heading div {
	position: relative;
	top: 2px;
	right: -4px;
}

#comments {
	border-top: 1px solid #2E2E26;
}

#comments li {
	list-style: none;
	padding: 10px 0px;
}

#comments li .left {
	margin: 0px 10px 0px 0px;
}

#comments li .commenter-avatar {
	border: 3px solid #161611;
	background: #121210;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#comments li .commenter-name {
	font-size: 18px;
	border-bottom: 1px dashed #161611;
	padding: 0px 0px 6px 0px;
	margin: 0px 0px 4px 0px;
}

#comments li .commenter-date {
	font-size: 12px;
	font-family: "Times New Roman", Times, serif;
	position: relative;
	top: 2px;
	color: #CDC5BF;
}

#comments li .commenter-options {
	background: url(../img/sidebar_heading_background.png);
	border-top: 2px solid #2E2E26;
	padding: 6px;
}

#comments li .commenter-options li {
	display: inline;
	text-transform: uppercase;
	font-weight: bold;
	border: none !important;
}

#comments li .commenter-options li a {
	border: none;
	padding: 3px;
}

#comments li .commenter-options li a:hover {
	color: #e1e1c0;
}

#comments li .commenter-options li a:active,.commenter-options li a:focus
	{
	color: #c9c99e;
}

#comments .commenter-replies {
	margin: 0px 0px 0px 29px;
	border-left: 1px solid #161611;
	padding: 0px 0px 0px 10px;
}

#comments li p {
	text-indent: 0px;
	font-size: 13px;
	line-height: 24px;
	margin: 0px 0px 5px 0px;
}

#comments .commenter-reply,#comments .commenter-report,#comments .commenter-upvote,#comments .commenter-downvote
	{
	padding: 0px 0px 0px 16px !important;
	display: inline-block;
}

#comments .commenter-reply {
	background: url(../img/icon_reply.png) left center no-repeat;
	margin: 0px 10px 0px 0px;
}

#comments .commenter-report {
	background: url(../img/icon_report.png) left center no-repeat;
}

#comments .commenter-upvote {
	background: url(../img/icon_upvote.png) left center no-repeat;
	margin: 0px 10px 0px 0px;
}

#comments .commenter-downvote {
	background: url(../img/icon_downvote.png) left center no-repeat;
}
/** Footer **/
#footer {
	border-top: 1px solid #2e2e26;
	background: #25251f url(../img/footer_background.png) top center
		no-repeat;
	padding: 10px 0px;
	text-align: center;
}

#footer p {
	color: #e7e1cc;
	text-shadow: 1px 1px 0px #151512;
	line-height: normal;
	margin: 0px;
	font-family: Arial, sans-serif;
	font-size: 11px;
}

#footer #footer-logo {
	border-right: 1px dotted #1b1b15;
	padding: 15px 20px 10px 0px;
	margin: -5px -20px 0px 0px;
	background: url(../img/footer_logo.png) center no-repeat;
	width: 120px;
	height: 71px;
}

#footer a {
	border: none;
}

#footer a:hover {
	text-decoration: underline;
}

#footer a:active,#footer a:focus {
	
}

#footer table {
	width: 500px;
	margin: auto;
	text-align: left;
}

#footer table tr {
	
}

#footer table tr td {
	
}

#footer #curated {
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	margin: 5px 0px;
	font-style: italic;
	font-weight: bold;
}
/** Advertisments **/
#advertisment-sidebar {
	
}

#advertisment-bottom {
	
}