.editor p {
	color: #cdc5bf;
	font-family: "Times New Roman", Times, serif;
	line-height: 26px;
	font-size: 14px;
	margin: 0px 0px 0px 0px;
	text-indent: 0px;
}

span.comment_quote {
	display: block;
	margin: 10px 30px 10px 30px;
	border: solid 1px #999;
}

#content {
	color: #cdc5bf;
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
}

#content p {
	line-height: normal;
}

.article_box {
	border: solid 1px #0f0f0c;
}

.article_box_inner {
	border: solid 1px #2e2e26;
	padding: 10px;
}

.article_title {
	text-align: center;
	margin-bottom: 10px;
}

.article_box ul {
	margin-left: 20px;
}

span.runescape_graph img {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

/* FORM BOX */
.form_box {
	border-width: 1px;
	border-color: #9f9689;
	border-style: solid;
	margin: 2px 0 10px 0;
	padding: 15px;
	padding-top: 20px;
}

.form_box legend {
	margin-left: 20px;
}

.article_box table,.article_box tr,.article_box td {
	vertical-align: top;
}